<div class="page-header">
  <h2>Inscription</h2>
</div>

<div class="col-md-8 col-md-offset-2">
  <div class="form-area">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%=  f.label :Prénom %>
        <%=  f.text_field :firstname, class: 'form-control' %>
        <%= @user.errors[:firstname] if @user.errors[:firstname].present? %>
      </div>

      <div class="field">
        <%=  f.label :Nom %>
        <%=  f.text_field :lastname, class: 'form-control' %>
        <%= @user.errors[:lastname] if @user.errors[:lastname].present? %>
      </div>

      <div class="field">
        <%=  f.label :Age %>
        <%=  f.text_field :age, class: 'form-control' %>
        <%= @user.errors[:age] if @user.errors[:age].present? %>
      </div>

      <div class="field">
        <br>
        <%= @user.errors[:avatar] if @user.errors[:avatar].present? %>
        <% if @user.avatar? %>
            <%= image_tag @user.avatar.url(:thumb) %>
        <% else %>
            <%=  f.label :Avatar %>
        <% end %>
        <%=  f.file_field :picture %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control', autofocus: true %>
      </div>

      <div class="field">
        <%= f.label "Mot de passe" %>
        <% if @minimum_password_length %>
        <em>( <%= @minimum_password_length %> caractères minimum )</em>
        <% end %><br />
        <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label "Mot de passe confirmation" %><br />
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
      </div>

        <div class="actions pull-right">
          <button type="submit" class="btn btn-primary send-button">Inscription</button>
        </div>
        <%= render "devise/shared/links" %>
  <% end %>
  </div>
</div>

