<div class="page-header">
  <h2>Mot de passe oublié ?</h2>
</div>

<div class="col-md-8 col-md-offset-2">
  <div class="form-area">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control', autofocus: true %>
      </div>

        <div class="actions pull-right">
          <button type="submit" class="btn btn-primary send-button">Envoyer</button>
        </div>
        <%= render "devise/shared/links" %>
  <% end %>
  </div>
</div>
