<div class="col-md-12">
  <div class="row">
      <h2 class="col-md-10 col-xs-10">
        <%= link_to @post.title, @post %>
      </h2>
      <% if @post.user == current_user %>
          <p class="col-xs-2 col-md-2 text-right" id="update_icon">
            <%= link_to edit_post_path(@post) do  %>
                <span class="glyphicon glyphicon-edit"></span>
            <% end %>

            <%= link_to @post, method: :delete, data: { confirm: 'Voulez vous vraiment supprimer ce post ?' } do  %>
                <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </p>
      <% end %>
    </div>
    <p class="lead">
      Écrit par
      <%= link_to "#{@post.user.firstname} #{@post.user.lastname}", [:admin,@post.user] %>
    </p>
    <p>
      <span class="glyphicon glyphicon-time"></span>
      <%= "Posté le #{@post.created_at.strftime('%d/%m/%y')}" %>
    </p>
    <hr>
    <%= image_tag @post.picture, alt: "post picture full-width", class: "center-block img-responsive" %>
    <hr>
    <p>
      <%= @post.body %>
    </p>
    <hr>
    <h4>Commentaires</h4>
    <br>
    <% if @post.comments.present? %>
      <%= render "comments/renderComments" %>
    <% else %>
      <p>Aucun commentaire</p>
    <% end %>
    <hr>
    <% if user_signed_in? %>
      <h4>Ajouter un commentaire</h4>
      <%= render "comments/form" %>
    <% else %>
        <em>Connectez-vous pour pouvoir rajouter un commentaire.</em>
    <% end %>
  </div>
</div>
<hr>
