<ul>
  <li> <%= image_tag @user.avatar.thumb %> </li>
  <li> <%= "Prénom : #{@user.firstname}" %> </li>
  <li> <%= "Nom : #{@user.lastname}" %> </li>
  <li> <%= "Age : #{@user.age} ans" %> </li>
</ul>

<%= link_to "Retour", [:admin,:users] %>