<ul>
  <% if @user.avatar? %>
    <li>
      <%= image_tag @user.avatar.thumb, alt: "user_avatar" %>
    </li>
  <% end %>
  <li> <%= "Prénom : #{@user.firstname}" %> </li>
  <li> <%= "Nom : #{@user.lastname}" %> </li>
  <li> <%= "Age : #{@user.age} ans" %> </li>
</ul>

<div class="col-md-12">

  <h1 class="page-header">
    <%= "Article de #{@user.firstname} #{@user.lastname}" %>
  </h1>

  <%= render "layouts/renderPosts" %>

</div>