<!DOCTYPE html>
<html>
  <head>
    <title>Rails Blog Gabriel Diez</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Accueil", root_path, class: "navbar-brand" %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <div class="navbar-text">
            <% if user_signed_in? %>
              <%= "Enregistré en tant que " %>
              <%= link_to "#{current_user.firstname} #{current_user.lastname}", [:admin,current_user] %>
            <% end %>
          </div>
          <ul class="nav navbar-nav">
            <li>
              <%= link_to 'Nouveau Post', new_post_path if user_signed_in? %>
            </li>
            <li>
              <%= link_to 'Editer mon Profil', [:edit, :admin,current_user] if user_signed_in? %>
            </li>
            <li>
              <%= user_signed_in? ? link_to("Deconnexion", destroy_user_session_path, method: :delete) : link_to("Connexion" , new_user_session_path) %>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <div class="container">

      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>

      <div class="row">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
